
<section id="boxes">
  <div class="container">

    <div class="box">
      <a href="{{url_for('pygame')}}"><img src="../static/img/python-pygame-tutorial.png" alt=""></a>
      <h3>Pygame</h3>
      <p>Game development with Pygame</p>
    </div>

    <div class="box">
      <a href="{{url_for('turtle')}}"><img src="../static/img/turtle.jpg" alt=""></a>
      <h3>Turtule</h3>
      <p>Graphics and simple games with Turtle</p>
    </div>

  </div>
</section>



<section id="boxes">
  <div class="container">

    <div class="box">
      <a href="{{url_for('sqlite')}}"><img src="../static/img/sqlite.png" alt=""></a>
      <h3></h3>
      <p>introduction to SQLite</p>
    </div>

    <div class="box">
      <a href="{{url_for('tkinter')}}"><img src="../static/img/tk.jpg" alt=""></a>
      <h3></h3>
      <p>GUI programming</p>
    </div>

  </div>
</section>

<section id="boxes">
    <div class="container">

      <div class="box">
        <a href="{{url_for('ursina')}}"><img src="../static/img/Ursina.jpg" alt=""></a>
        <h3>Ursina</h3>
        <p>Introduction to Ursina engine</p>
      </div>

      <div class="box">
        <a href="{{url_for('c')}}"><img src="../static/img/c.jpg" alt=""></a>
        <h3></h3>
        <p>introduction to C language</p>
      </div>


    </div>
</section>

<section id="boxes">
    <div class="container">
      <div class="box">
        <a href="{{url_for('flask')}}"><img src="../static/img/flask.jpg" alt=""></a>
        <h3></h3>
        <p>Rapid web development with Flask</p>
      </div>
    </div>
</section>
