{%extends "header.html"%}
{%block header%}

<div class="container">
  <h1>Tutorials</h1>
</div>

<div class="row">
   <div class="column">
     <div class="container">
       <div class="work-card">
         <div class="card-body">
           <a href="{{url_for('pygame')}}"><img src="../static/img/pygame-2.jpg" ></a>
               <h1>Pygame </h1>
               <p>
               </p>
         </div>
       </div>
     </div>
   </div>
 </div>



 <div class="row">
    <div class="column">
      <div class="container">
        <div class="work-card">
          <div class="card-body">
            <a href="{{url_for('turtle')}}"><img src="../static/img/turtle.jpg" ></a>
                <h1>Turtle!</h1>
                <p>
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
     <div class="column">
       <div class="container">
         <div class="work-card">
           <div class="card-body">
            <a href="{{url_for('sqlite')}}"><img src="../static/img/sqlite.png" ></a>

                 <h1>SQLite</h1>
                 <p>
                 </p>
           </div>
         </div>
       </div>
     </div>
   </div>

  <div class="row">
     <div class="column">
       <div class="container">
         <div class="work-card">
           <div class="card-body">
             <a href="{{url_for('tkinter')}}"><img src="../static/img/tk.jpg" ></a>
                 <h1>Tkinter</h1>
                 <p></p>
           </div>
         </div>
       </div>
     </div>
   </div>

   

   <div class="row">
      <div class="column">
        <div class="container">
          <div class="work-card">
            <div class="card-body">
              <a href="{{url_for('c')}}"><img src="../static/img/c.jpg" ></a>
                  <h1>Mini projects</h1>
                  <p>
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="row">
    <div class="column">
      <div class="container">
        <div class="work-card">
          <div class="card-body">
            <a href="{{url_for('ursina')}}"><img src="../static/img/Ursina.jpg" ></a>
                <h1>Ursina Engine</h1>
                <p>
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>



{% include "includes/_footer.html" %}
{%endblock%}
