{%extends "header.html"%}
{%block header%}

<div class="container">
  <div class="article">
    <h1 class="article-header">C Mini projects</h1>
    <h1 class="article-header">Fibonacci numbers</h1>
    <a href="https://www.youtube.com/watch?v=SUGtdJAWMIY&t=355s" target="_blank"><img src="../static/img/article_image/c/part-1.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">C Mini projects</h1>
    <h1 class="article-header">Guessing game</h1>
    <a href="https://www.youtube.com/watch?v=HYJwIgHwbbY&t=405s" target="_blank"><img src="../static/img/article_image/c/part-2.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">C Mini projects</h1>
    <h1 class="article-header">CLI calculator</h1>
    <a href="https://www.youtube.com/watch?v=fHHjDfRGYYA&t=790s" target="_blank"><img src="../static/img/article_image/c/part-3.jpg" alt=""></a>
    <br><br>
  </div>
</div>


{% include "includes/_footer.html" %}
{%endblock%}
