{%extends "header.html"%}
{%block header%}


<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../static/img/article_image/pygame/pygame-1.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=60iqLrqUjQA&t=673s" target="_blank"><img src="../static/img/article_image/pygame/pygame-2.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=YGz2RXtBQw4&t=979s" target="_blank"><img src="../static/img/article_image/pygame/pygame-3.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-4</h1>
    <a href="https://www.youtube.com/watch?v=W0rLw7xZT9A&t=222s" target="_blank"><img src="../static/img/article_image/pygame/pygame-4.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-5</h1>
    <a href="https://www.youtube.com/watch?v=CjLzxsMTfk8&t=501s" target="_blank"><img src="../static/img/article_image/pygame/pygame-5.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-6</h1>
    <a href="https://www.youtube.com/watch?v=5gaNTLVpMCA&t=572s" target="_blank"><img src="../static/img/article_image/pygame/pygame-6.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Pygame</h1>
    <h1 class="article-header">part-7</h1>
    <a href="https://www.youtube.com/watch?v=sf9j7KrGfTI&t=642s" target="_blank"><img src="../static/img/article_image/pygame/pygame-7.png" alt=""></a>
    <br><br>
  </div>
</div>

{% include "includes/_footer.html" %}
{%endblock%}
