{%extends "header.html"%}
{%block header%}

<div class="container">
  <div class="article">
    <h1 class="article-header">SQLite</h1>
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../static/img/article_image/sqlite/part-1.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">SQLite</h1>
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../static/img/article_image/sqlite/part-2.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">SQLite</h1>
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=Mlg1BUsDa9A&t=793s" target="_blank"><img src="../static/img/article_image/sqlite/part-2.jpg" alt=""></a>
    <br><br>
  </div>
</div>


{% include "includes/_footer.html" %}
{%endblock%}
