{%extends "header.html"%}
{%block header%}

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=6sxOsKGVM9w&t=614s" target="_blank"><img src="../static/img/article_image/tkinter/part-1.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=w2HCP88D3ds" target="_blank"><img src="../static/img/article_image/tkinter/part-2.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=Pz_I_r_bdJw" target="_blank"><img src="../static/img/article_image/tkinter/part-3.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-4</h1>
    <a href="https://www.youtube.com/watch?v=akzppcwIl2M" target="_blank"><img src="../static/img/article_image/tkinter/part-4.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-5</h1>
    <a href="https://www.youtube.com/watch?v=5dox3mazhss" target="_blank"><img src="../static/img/article_image/tkinter/part-5.jpg" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Tkinter</h1>
    <h1 class="article-header">part-6</h1>
    <a href="https://www.youtube.com/watch?v=ZRbG6ycG4us&t=645s" target="_blank"><img src="../static/img/article_image/tkinter/part-6.jpg" alt=""></a>
    <br><br>
  </div>
</div>


{% include "includes/_footer.html" %}
{%endblock%}
