{%extends "header.html"%}
{%block header%}


<div class="container">
  <div class="article">
    <h1 class="article-header">Turtle</h1>
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=1ZrIst3mX14&t=1057s" target="_blank"><img src="../static/img/article_image/turtle/part-1.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Turtle</h1>
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=vdXBHlSjiOI&t=512s" target="_blank"><img src="../static/img/article_image/turtle/part-2.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Turtle</h1>
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=DO8TuyQpfO4&t=419s" target="_blank"><img src="../static/img/article_image/turtle/part-3.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Turtle</h1>
    <h1 class="article-header">part-4</h1>
    <a href="https://www.youtube.com/watch?v=ldabGl9nmQo&t=531s" target="_blank"><img src="../static/img/article_image/turtle/part-4.png" alt=""></a>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="article">
    <h1 class="article-header">Turtle</h1>
    <h1 class="article-header">part-5</h1>
    <a href="https://www.youtube.com/watch?v=3fqDXQxOTo4&t=1296s" target="_blank"><img src="../static/img/article_image/turtle/part-5.png" alt=""></a>
    <br><br>
  </div>
</div>

{% include "includes/_footer.html" %}
{%endblock%}
