{%extends "header.html"%}
{%block header%}


<div class="container">
  <div class="article">
    <h1 class="article-header">Ursina 3D engine</h1>
    <h1 class="article-header">part-1</h1>
    <a href="https://www.youtube.com/watch?v=yEsApEaJcd0&t=979s" target="_blank"><img src="../static/img/article_image/ursina/part_1.png" alt=""></a>
    <br><br>
  </div>
</div>


<div class="container">
  <div class="article">
    <h1 class="article-header">Ursina 3D engine</h1>
    <h1 class="article-header">part-2</h1>
    <a href="https://www.youtube.com/watch?v=SyF-7rw0vgI&t=1s" target="_blank"><img src="../static/img/article_image/ursina/part_2.png" alt=""></a>
    <br><br>
  </div>
</div>


<div class="container">
  <div class="article">
    <h1 class="article-header">Ursina 3D engine</h1>
    <h1 class="article-header">part-3</h1>
    <a href="https://www.youtube.com/watch?v=KpxSeNzJfek" target="_blank"><img src="../static/img/article_image/ursina/part3-2.png" alt=""></a>
    <br><br>
  </div>
</div>



{% include "includes/_footer.html" %}
{%endblock%}
